* {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: rgb(114, 62, 62);
    color: white;
    padding: 40px;
  }
  
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  nav {
    margin-left: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  
  nav ul li a {
      color: white;
      font-size: 36px;
      text-decoration: none;
      
  }
  
  nav ul li:not(:last-child) {
      margin-right: 20px;
  }
  
  nav ul li a:hover,
  nav ul li a:focus {
      color: rgb(255, 89, 6)
  }
  
  .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      margin-left: auto;
  }
  
  .hamburger span {
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
  }
  
  .hamburger span:not(:last-child){
      margin-bottom: 7px;
  }
  nav ul.open {
      display: flex;
  }
  
  @media (max-width: 760px) {
      .hamburger{
          display: flex;
      }
  
      .list {
          flex-direction: column;
          display: none;
          position: absolute;
          top: 90px;
          right: 70px;
          background-color: rgb(114, 62, 62);
          width: 200px;
          padding-left: 20px;
          border-radius: 10px;
      }
  
      nav ul li:not(:last-child) {
        margin-bottom: 20px;
    }
  }
  
  form {
    width: 400px;
    margin: 20px auto 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  h2{
    text-align: center;
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .btn{
    width: 250px;
    height: 100px;
    background-color: rgb(6, 129, 252);
    border: none;
    border-radius: 10px;
    color:white;
    font-size: 36px;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: rgb(0, 255, 132);
    color:rgb(6, 129, 252);
    border: none;
  }
  
  .modal {
    display: none;
    width: 350px;
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
    position: fixed;
    top:50%;
    left: 37%;
    /* z-index: 10; */
    background-color: white;
  
  }
  p {
    text-align: center;
  }
  
  .close {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .modal.show {
  display: flex;
  }
  
  body.modal-open{
    background-color: rgb(72, 71, 71, 0.7);
  }
  
  .check:checked {
    outline: 2px solid green;
  }